{% extends 'postcard/base.html' %}

{% block content %}


<form action="{% url 'home' %}" method="POST">
    {% csrf_token %}
    
    {{ postcard_form }}

    <br/>
    <button type="submit" class="btn btn-sm btn-primary">Post</button>
</form>

<h2>All Postcards</h2>


{% for pc in postcards %}
<div>
    <p>Created by: {{ pc.user.get_full_name }}</p>
    <p>{{ pc.post }}</p>
    
    <a href="{% url 'postcard_detail' pc.id %}">
	<p>Number of comments: {{ pc.comment_set.count }}</p>
    </a>

    <form action="{% url 'postcard_like' pc.id %}" method="POST">
	{% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path|urlencode }}"/>
        <button type="submit" class="btn btn-outline">
	    <!-- todo: if user likes post make it bold -->
	    <i class="far fa-heart"></i>
	</button>
    </form>
    
    <p>Number of likes: {{ pc.like_set.count }}</p>
    <hr/>
</div>
{% endfor %}


{% endblock content %}
