{% extends 'postcard/base.html' %}


{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
	    <div class="jumbotron">
		<h1 class="display-4">Postcard</h1>
		<p class="lead">
		    Let people know what intersting things you have been upto by sending them a postcard.
		</p>
	    </div>
	</div>
    </div>

    <div class="row">
	<div class="col-md-12">

            <h2>README</h2>

            <p>Important stuff about the app</p>


            <hr class="my-4" />
	    
            <p>Aliquam ut porttitor leo a. Egestas purus viverra accumsan in nisl nisi, scelerisque eu ultrices vitae, auctor eu
		augue ut lectus arcu, bibendum at varius vel, pharetra vel turpis nunc! Semper eget duis at tellus at urna condimentum
		mattis pellentesque? Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin ferment
		um leo vel orci porta non pulvinar.
		Tempus iaculis urna, id volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean et tort
		or at risus. Pellentesque id nibh tortor, id aliquet lectus proin nibh nisl.
	    </p>
	    <p>Aliquam ut porttitor leo a. Egestas purus viverra accumsan in nisl nisi, scelerisque eu ultrices vitae, auctor eu
		augue ut lectus arcu, bibendum at varius vel, pharetra vel turpis nunc! Semper eget duis at tellus at urna condimentum
		mattis pellentesque? Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque felis imperdiet proin ferment
		um leo vel orci porta non pulvinar.
		Tempus iaculis urna, id volutpat lacus laoreet non curabitur gravida arcu ac tortor dignissim convallis aenean et tort
		or at risus. Pellentesque id nibh tortor, id aliquet lectus proin nibh nisl.
	    </p>
            <p>
                Consequat interdum varius sit amet, mattis vulputate enim nulla aliquet? Mattis rhoncus, urna neque viverra justo, nec ultrices dui sapien eget mi proin sed libero enim, sed faucibus turpis in.
                Nunc, consequat interdum varius sit amet, mattis vulputate enim nulla? Vel turpis nunc eget lorem dolor, sed viverra ipsum nunc aliquet bibendum enim, facilisis gravida neque convallis a cras semper!
                Amet, consectetur adipiscing elit ut. In nulla posuere sollicitudin aliquam ultrices sagittis orci, a scelerisque purus semper eget duis at tellus at urna condimentum mattis pellentesque id nibh tortor, id.
            </p>
	</div>
    </div>
</div>



{% endblock content %}
